body {
    background-color: white;
    margin: 0;
}

header {
    overflow: hidden;
    background-color: black;
    margin: 0px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
header ul {
    list-style: none;
    padding: 0;
}
header ul li {
    display: inline-block;
    margin: 0 20px;
    font-weight: bold;
    color: #f0cd77;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: white;
}

section{
    background-color: lightgrey;
    height: auto;
    width: auto;
    min-width: 700px;
    margin: 0px;
    margin-bottom: 40px;
    padding: 60px;
    text-align: center;
}
footer{
    height: 60px;
    background-color: black;
}
h1{
    font-size: 50px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
h2{
    font-size: 30px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}
h3{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding: 0px;
}
img{
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    padding: 0px;
}

.profile{
    margin: 150px;
    padding: 0px;
}
.profile_info{
    margin-top: 100px;
    height: 800px;
}
.profile_about{
    margin-top: 50px;
}

.history_info{
    height: 2000px;
}
.school{
    margin: 150px;
    padding: 0px;
}
.military{
    margin: 150px;
    padding: 0px;
}
